<!DOCTYPE html>
<html lang="en">
<head>

	<title>Keno explorer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<style>

	</style>

</head>
<body>

	<div class="container">

		<div class="history-block">

			<h3>History</h3>

		</div>

		<div class="player-grids-block">

			<h3>Play to keno</h3>

			<div class="merry-goblin-draw-grid-container"></div>

		</div>

		<div class="result-block">

			<h3>Results</h3>

		</div>

	</div>

	<!-- Vendors -->
	<script type="text/javascript" src="./js/vendor/jquery-3.6.0.min.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="./js/service/draw-grid.js"></script>

	<!-- Controller -->
	<script type="text/javascript" src="./js/controller/keno.controller.js"></script>

</body>
</html>