<!DOCTYPE html>
<html lang="en">
<head>

	<title>Keno explorer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="./css/app.css" rel="stylesheet">

</head>
<body>

	<div class="container">

		<div class="history-block history-block-closed">

			<h3>History</h3>

		</div>

		<div class="player-grids-block">

			<h3>Play to keno</h3>

			<div class="merry-goblin-draw-grid-container" id="merry-goblin-draw-grid-container"></div>

			<button type="button" class="btn btn-dark new-grid-button">New grid</button>
			<button type="button" class="btn btn-dark send-grids-button">Send grids</button>

		</div>

		<div class="result-block">

			<h3>Results</h3>

			<button type="button" class="btn btn-dark draw-button">Draw</button>
			<button type="button" class="btn btn-dark draw-process-button">Draw process</button>

			<div class="result-content"></div>

		</div>

	</div>

	<!-- Vendors -->
	<script type="text/javascript" src="./js/vendor/jquery-3.6.0.min.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="./js/service/reactor.js"></script>
	<script type="text/javascript" src="./js/service/draw-grid.js"></script>

	<!-- Controller -->
	<script type="text/javascript" src="./js/controller/keno.controller.js"></script>

</body>
</html>