
html, body {
	background-color: #666;
	color: #fff;
}


/*************/
/** History **/

.history-block {
	float: right;
	width: 25%;
	padding: 20px;
	background-color: #444;
	color: #fff;
}

@media (max-width: 767px) {

	.history-block {
		width: 100%;
	}
}

@media (max-width: 575px) {

	.history-block {
		width: 100%;
	}
}

/******************/
/** Player grids **/

.player-grids-block {
	width: 75%;
	padding: 20px;
	background-color: #ddd;
	color: #333;
}

.merry-goblin-draw-grid {
	width: 720px;
	padding: 20px 0px 20px 0px;
	text-align: center;
}

.merry-goblin-draw-grid h4 {
	text-align: left;
	font-size: 24px;
	border-bottom: 1px solid #777;
	clear: both;
}

/* start clearfix */
.merry-goblin-draw-grid:before,
.merry-goblin-draw-grid:after {
	display: table;
	content: " ";
}
.merry-goblin-draw-grid:after {
	clear: both;
}
/* end clearfix */

.merry-goblin-draw-grid-cell {
	float: left;
	width: 72px;
	height: 72px;
	padding: 12px;
}

.merry-goblin-draw-grid-cell > div {
	border-radius: 50%;
	width: 46px;
	height: 46px;
	padding: 3px;
	background: #fff;
	border: 2px solid #666;
	color: #666;
	font: 30px Roboto, sans-serif;
	cursor: pointer;
}

.merry-goblin-draw-grid-cell.selected > div,
.merry-goblin-draw-grid-cell.selected > div:hover {
	background: #189AB4;
	border: 2px solid #189AB4;
	color: #fff;
}

.merry-goblin-draw-grid-cell > div:hover {
	background: #00AA45;
	border: 2px solid #00AA45;
	color: #fff;
}

@media (max-width: 1199px) {

	.player-grids-block {
		width: 75%;
	}

	.merry-goblin-draw-grid {
		width: 662px;
		padding: 10px 0px 20px 0px;
	}

	.merry-goblin-draw-grid-cell {
		width: 66px;
		height: 66px;
		padding: 12px;
	}

	.merry-goblin-draw-grid-cell > div {
		width: 42px;
		height: 42px;
		padding: 5px;
		font-size: 24px;
	}

}

@media (max-width: 991px) {

	.player-grids-block {
		width: 75%;
	}

	.merry-goblin-draw-grid {
		width: 482px;
		padding: 10px 0px 20px 0px;
	}

	.merry-goblin-draw-grid-cell {
		width: 48px;
		height: 48px;
		padding: 6px;
	}

	.merry-goblin-draw-grid-cell > div {
		width: 36px;
		height: 36px;
		padding: 3px;
		font-size: 22px;
	}

}

@media (max-width: 767px) {

	.player-grids-block {
		width: 100%;
	}

	.merry-goblin-draw-grid {
		width: 100%;
		padding: 10px 0px 20px 0px;
	}

	.merry-goblin-draw-grid-cell {
		width: 66px;
		height: 66px;
		padding: 12px;
	}

	.merry-goblin-draw-grid-cell > div {
		width: 42px;
		height: 42px;
		padding: 5px;
		font-size: 24px;
	}

}

@media (max-width: 575px) {

	.player-grids-block {
		width: 100%;
	}

	.merry-goblin-draw-grid {
		width: 100%;
		padding: 10px 0px 20px 0px;
	}

	.merry-goblin-draw-grid-cell {
		width: 48px;
		height: 48px;
		padding: 6px;
	}

	.merry-goblin-draw-grid-cell > div {
		width: 36px;
		height: 36px;
		padding: 3px;
		font-size: 22px;
	}

}

/*************************/
/** Result of last draw **/

.result-block {
	width: 75%;
	padding: 20px;
	background-color: #ddd;
	color: #333;
}

.result-block tr.positive {
	background-color: #dde6dd;
}

.result-block tr.positive td.count {
	color: green;
}